/* style.css */

/* created by Bruce Elgort */

@import url('https://fonts.googleapis.com/css?family=Jura:300,400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 1;
}

a:link, a:visited, a:hover, a:focus, a:active {
    text-decoration: none;
    color: #FFFFFF;
}

body {
    font-family: 'Jura', sans-serif;
}

.home-container-1 {
    background: url(../images/companyslide.png);
    object-fit: cover;
    background-position: center;
    height: 100vh;
    max-width: 1700px;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 100px auto auto;
    grid-template-areas: "logo logo nav nav nav nav phone estimates hamburger" ". hero hero hero hero . spartan spartan spartan" ". products products products products badges badges badges badges";
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    opacity: .6;
    background: #7A90B5;
}

.home-header-logo {
    width: 100%;
    grid-area: logo;
    text-align: center;
    line-height: .8;
}

.home-header-logo h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    font-size: 1.5rem;
}

.logo {
    height: 40px;
    width: 40px;
}

.precast {
    font-size: 1.2rem;
}

.home-nav-main {
    grid-area: nav;
    font-size: 1.1rem;
}

.home-nav-main ul {
    list-style-type: none;
}

.home-nav-main ul li {
    display: inline-block;
    margin-right: 20px;
    color: #FFFFFF;
}

.home-nav-main a:link, .home-nav-main a:visited, .home-nav-main a:active {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
}

.home-nav-main a:hover, .home-nav-main a:focus {
    text-decoration: underline;
    color: #FFFFFF;
    font-weight: 700;
}

.home-phone {
    grid-area: phone;
    color: #FFFFFF;
    font-size: 1.1rem;
}

.home-phone a:link, .home-phone a:visited, .home-phone a:active {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
}

.home-phone a:hover, .home-phone a:focus {
    text-decoration: underline;
    color: #FFFFFF;
    font-weight: 700;
}

.home-estimates {
    grid-area: estimates;
    color: #7a90b5;
    background: #FFFFFF;
    padding: 8px 15px 8px 15px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    font-weight: 700;
    font-size: 1.1rem;
}

.home-estimates a:link, .home-estimates a:visited, .home-estimates a:active {
    text-decoration: none;
    color: #7a90b5;
}

.home-estimates a:hover, .home-estimates a:focus {
    text-decoration: underline;
}

.hamburgermenu {
    grid-area: hamburger;
    color: #FFFFFF;
    font-size: 1.4rem;
}

.home-hero {
    grid-area: hero;
    color: #FFFFFF;
}

.home-hero h1 {
    font-size: 3rem;
    margin-bottom: 1em;
    line-height: 1.1;
}

.home-hero p {
    font-size: 1.5rem;
    font-weight: 600;
}

.home-spartan {
    display: grid;
    place-items: center;
    grid-area: spartan;
    height: 350px;
    width: 100%;
    background: #FFFFFF;
    padding: 50px 50px 50px 100px;
    text-align: center;
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
}

.home-spartan p {
    font-size: 1.25rem;
}

.home-spartan-icon {
    height: 60px;
    width: 60px;
}

.home-badges {
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: badges;
    color: #FFFFFF;
    background: #7A90B5;
    height: 180px;
    width: 100%;
    padding-left: 80px;
    clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
    text-align: center;
}

.home-badges img {
    height: 80px;
    width: 80px;
}

.home-products {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: products;
    color: #FFFFFF;
    background: #FFFFFF;
    height: 150px;
    width: 100%;
    padding-left: 80px;
    margin-right: -200px;
    clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
    text-align: center;
}

.home-products div {
    display: grid;
    place-items: center;
    width: 90px;
    height: 90px;
    background: rgba(82, 100, 124, 0.8);
    margin-right: 50px;
    font-weight: 700;
    font-size: 1rem;
    border-radius: 12px;
    padding: 8px;
    margin-left: -30px;
}

/* .container2 {
    background: #FFFFFF;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-template-rows: 150px, auto;
    grid-template-areas: "arm arm arm" ". hero2 .";
}

.hero2 {
    background: #FFFFFF;
}

.arm {
    grid-area: arm;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: #7A90B5;
}

.arm-icon {
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
} */

@media (max-width: 576px) {
    .home-container-1 {
        margin: 0 auto;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: 10vh 40vh 5vh 10vh 35vh; */
        /* grid-template-rows: 100px auto auto auto auto auto auto; */
        grid-template-rows: 100px auto auto auto 300px;
        grid-template-areas: "logo logo hamburger" "hero hero hero" "estimates estimates estimates" "phone phone phone" "badges badges badges";
        /*"arm-icon arm-icon arm-icon" "hero2 hero2 hero2";*/
    }
    .home-header-logo {
        text-align: left;
        padding-left: 30px;
    }
    .home-nav-main {
        display: none;
    }
    .hamburgermenu {
        font-size: 2rem;
    }
    .home-spartan {
        display: none;
    }
    .home-hero {
        /* grid-area: hero; */
        text-align: center;
    }
    .home-hero h1 {
        font-size: 2.5rem;
        font-weight: 600;
        padding: 20px;
    }
    .home-estimates {
        color: #7a90b5;
        font-weight: 700;
        letter-spacing: .3em;
    }
    .home-phone {
        font-size: 1.2rem;
    }
    .home-badges {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        padding: 0;
        /* height: 150px; */
    }
    .home-products {
        display: none;
    }
    .container2 {
        padding-top: 20px;
        margin: 0 auto;
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 100px 80px 2px auto;
        grid-template-areas: ". arm ." "tagline tagline tagline" ". undertag ." "content content content";
    }
    .overlay {
        display: none;
    }
    .arm {
        grid-area: arm;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        margin: auto;
        /* background-color: #7A90B5; */
        background-color: rgba(82, 100, 124, 0.8);
    }
    .arm-icon {
        padding: 15px;
        /* display: inline-block; */
        /* text-align: center; */
        /* margin-left: auto;
        margin-right: auto; */
    }
    .tagline {
        grid-area: tagline;
        background-color: #FFFFFF;
        font-size: 1rem;
        text-align: center;
        color: #7A90B5;
        font-weight: 700;
        letter-spacing: -2px;
        margin-bottom: 10px;
    }
    .undertag {
        grid-area: undertag;
        margin: auto;
        border: 2px solid #7A90B5;
        /* background-color: #FFFFFF; */
        width: 40%;
    }
    .content {
        grid-area: content;
        padding: 40px;
        background-color: #FFFFFF;
        font-size: 1.25rem;
        line-height: 2rem;
        letter-spacing: 1.25px;
        background-color: #F7F7F7;
        /* text-align: center; */
    }
    .container3 {
        padding-top: 50px;
        margin: 0 auto;
        height: 100vh;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 200px auto 100px;
        grid-template-areas: "square-logo free-estimates" "container3-form container3-form " "send-request send-request";
    }
    .square-logo {
        margin: auto;
    }
    .square-logo img {
        height: 100px;
        width: 100px;
    }
    .free-estimates {
        margin: auto;
        font-size: 2rem;
        font-weight: 700;
        color: #7A90B5;
    }
    .container3-form {
        grid-area: container3-form;
        width: 100%;
    }
    .form-group {
        grid-area: container3-form;
        padding-left: 20px;
        background-color: #F7F7F7;
        width: 100%;
    }
    .send-request {
        grid-area: send-request;
        width: 100%;
        background-color: #7A90B5;
        border-radius: 10%;
        color: white;
        font-size: 1.5rem;
        text-align: center;
    }
    .send-request p {
        margin: auto;
    }
}

@media (max-width: 768px) {
    .home-container-1 {
        margin: 0 auto;
        display: grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: 10vh 40vh 10vh 10vh 150px; */
        grid-template-areas: "logo logo hamburger" "hero hero hero" ". estimates ." ". phone ." "badges badges badges";
    }
    .home-header-logo {
        text-align: left;
        padding-left: 30px;
    }
    .home-nav-main {
        display: none;
    }
    .hamburgermenu {
        font-size: 2.5rem;
    }
    .home-spartan {
        display: none;
    }
    .home-hero {
        /* grid-area: hero; */
        text-align: center;
    }
    .home-hero h1 {
        font-size: 2.5rem;
        font-weight: 600;
        padding: 20px;
    }
    .home-hero p {
        padding: 10px;
        text-align: center;
    }
    .home-estimates {
        color: #7a90b5;
        letter-spacing: .3em;
    }
    .home-phone {
        font-size: 1.2rem;
        padding-bottom: 50px;
    }
    .home-badges {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        padding: 0;
        /* height: 150px; */
    }
    .home-products {
        display: none;
    }
}

@media (max-width: 992px) {
    .home-header-logo {
        width: 100%;
        text-align: center;
        padding-left: 30px;
    }
    .home-header-logo h1 {
        display: inline;
    }
    .hamburgermenu {
        font-size: 2.5rem;
    }
    .home-spartan {
        clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
    }
    .home-hero {
        /* grid-area: hero; */
        text-align: center;
    }
    .home-hero h1 {
        font-size: 2.5rem;
        font-weight: 600;
        padding: 20px;
    }
    .home-hero p {
        padding: 10px;
        text-align: center;
    }
    .home-estimates {
        color: #7a90b5;
        letter-spacing: .3em;
    }
    .home-phone {
        font-size: 1.2rem;
        padding-bottom: 50px;
    }
    .home-badges {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        padding: 0;
        /* height: 150px; */
    }
    .home-products {
        display: none;
    }
}

/* @media (max-width: 992px) {
    .home-container-1 {
        grid-template-areas: "logo logo logo . . . . . hamburger" ". hero hero hero hero hero hero hero ." "badges badges badges badges badges badges badges badges badges";
        grid-template-rows: 200px 300px 300px;
    }
    .home-header-logo {
        margin-left: 30px;
    }
    .home-nav-main {
        display: none;
    }
    .home-estimates {
        display: none;
    }
    .home-phone {
        display: none;
    }
    .home-spartan {
        display: none;
    }
    .home-hero {
        grid-area: hero;
        text-align: center;
    }
    .home-badges {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        padding: 0;
    }
    .home-products {
        display: none;
    }
} */